@font-face {
    font-family: "Cascadia";
    src: url(./assets/font/CascadiaCode.ttf);
}

@font-face {
    font-family: "Cascadia-Bold";
    src: url(./assets/font/CascadiaCode-Bold.ttf);
}


* {
    font-family: "cascadia", bold;
    margin: 0%;
    padding: 0%;
    cursor: default;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

body {
    background-color: #f5f5f5;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ colors ~~~~~~~~~~~~~~~~~~~*/



/* FONT */
.f-black {
    color: black;
}

#f-white {
    color: #f5f5f5;
}

/* BAKGROUND */

.bg-m {
    /* main color */
    background-color: #f5f5f5;
}

.bg-a {
    /* accent and hover color */
    background-color: #4dabf7;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~Blocks~~~~~~~~~~~~~~~~~~~~~~~~ */
.block {
    display: flex;
    width: 100vw
}

.block-b {
    height: 100vh;

    justify-content: center;
    align-content: center;
    /* background-color: red; */
}

.block-m {
    min-height: 60vh;
    flex-direction: column;
    align-content: center;
}

.block-s {
    min-height: 30vh;
}

.block-emphasis {
    background-color: #4dabf7;
    padding: 2rem 0rem;
    min-height: 2vh;
    justify-content: space-around;
    align-items: center;
    font-size: 16pt;
    color: #f5f5f5;
    margin-top: 100px;
    margin-bottom: 5vh;
}

.block-emphasis p {
    padding: 0rem 2rem;
}



/* image sizing */

.img-50 {
    height: 50px;
}

.img-90 {
    height: 90px;
}

.img-150 {
    height: 150px;
}

/* ~~~~~~~~~~~~~INDIVIDUAL CONTENT~~~~~~~~~~~~~~ */
/* NAV BAR */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* padding: 5px 10px; */
    position: sticky;
    top: 0%;
    border-bottom: 1px solid black;
    /* width: 100vw; */
}

/* MENU DROPDOWN BUTTON */

.dropbtn {
    font-size: 16px;
    border: none;

}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #4dabf7;
}

.menu-Content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-Content a:hover {
    background-color: #4dabf7;
}

.linkToTop {
    text-decoration: none;
    color: black;
}

.nav .contact {
    background-color: black;
    color: white;
    padding: 5px 5px;
}




/* Title/NAME */

.title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title .nameAndTagline {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.nameAndTagline .firstName {
    font-size: 4rem;
}

.nameAndTagline .lastName {
    font-size: 4rem;
    /* padding-left: 2px; */
}

.nameAndTagline .tagline {
    font-size: 16pt;
    padding-left: 5px;
    margin-top: 2px;
}

.titleButtons {
    padding-right: 72PX;
    padding-top: 10px;
}

.titleButtons>button {
    background-color: black;
    color: white;
    padding: 5px 50px;
}

/* skill block */

#skillBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills {
    width: 100vw;
    text-align: center;
}


.skillList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4%;
    padding: 0px 2vw 0vh 2vw;
}

.skill-img-name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~*/
footer {
    padding: 10vh 2vw 1vh 1vw;
    color: grey
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Carousel ~~~~~~~~~~~~~~~~~~~*/

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-item {
        margin-right: auto !important;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.carousel-control-next,
.carousel-control-prev {
    max-width: 5%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: grey;
}

.sr-only {
    color: black;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~ utility ~~~~~~~~~~~~~~~~~~~*/

.show {
    display: flex;
    flex-direction: column;

}

.show-flex {
    display: flex;
}

.flex-1 {
    flex: 1
}

.flex-2 {
    flex: 2
}

.justify-left {
    justify-content: left;
}

.dark-mode1 {
    background-color: rgb(34, 34, 34);
    color: #f5f5f5;
}

.dark-mode2 {
    background-color: #2a577c;
    color: #f5f5f5;
}

/* .light-mode1 {
    background-color: #f5f5f5;
    background-color: rgb(34, 34, 34)
}

.light-mode2 {
    background-color: #4dabf7;
    background-color: rgb(34, 34, 34)
} */